.unauthenticated .map {
    display: none;
}

.simple-button {
    background: lightblue;
    padding: 3px;
}

.player-label {
    color: white;
}

div[pid="0"] {
    background: red;
}

div[pid="1"] {
    background: blue;
}

div[pid="2"] {
    background: green;
}

div[pid="3"] {
    background: yellow;
}
